extends template.pug
block contents
  include includes/login.component.pug
  include includes/signup.component.pug
  if blogs
    each blog in blogs
      .card.mt-2.bt-2
        .card-body
          .card-title
            h5.mt-0 
              a.text-dark(href=`/blog/${blog._id}`) #{blog.title}
            small.font-italic.text-muted Author: #{blog.author.username}
          .card-text
            | #{blog.description}



