extends template.pug
block contents
  .container
    if sucessess
      each success in sucessess
        .alert.alert-success.alert-dismissible.fade.show(role='alert')
          | #{success}
          button.close(type='button' data-dismiss='alert' aria-label='Close')
            span(aria-hidden='true') &times;
    .row
      .col-sm-12.col-md-12.col-lg-8
        //- create a blog form
        form(action="/blog/create" method="post")
          .form-group
            label(for="title") Title: 
            input.form-control#title(name="title" required autofocus)
            input(name="id" hidden value=`${currentUser._id}`)
          .form-group
            label(for="description") Description:
            textarea#description.form-control(name="description", required, cols="30", rows="3")
          .form-group
            textarea#summernote(name="content" required)
          button.btn.btn-success Submit  
      .col-sm-12.col-md-12.col-lg-4.mt-3
        //- reset profile form 
        .card.mt-3.mb-3
          .card-body 
            form.mt-3(action=`/profile/update/${currentUser._id}`, method="post")
              .form-group
                small Username: 
                input.form-control(name="username" required)
              .form-group
                small Password:
                input.form-control(name="password" type="password" required)
              button.btn.btn-secondary(type="submit") Update Profile
          //- select blog to edit 🆘
        form.mb-3(action="/blog/update" name="blogID" method="get")
          select.custom-select.custom-select-lg
            if blogs
              each blog in blogs
                option(value=`${blog._id}`)= blog.title
          button.mt-3.btn.btn-secondary(type="submit") Update Blog
  script(src="script.js")
