<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Bloggi 🐈
    block links
      link(rel="stylesheet", href="vendors/b4/bootstrap.min.css")
      script(src="vendors/jQ3.5.1/jquery-3.5.1.min.js")
      script(src="vendors/popper/popper.min.js")
      script(src="vendors/b4/bootstrap.min.js")
      link(rel="stylesheet", href="vendors/summernote/summernote.min.css")
      script(src="vendors/summernote/summernote.min.js")
      link(rel="stylesheet", href="styles.css")
  body
    include includes/navbar.component.pug
    .container
      if errors
        each error in errors
          .alert.alert-warning.alert-dismissible.fade.show(role='alert')
            | #{error}
            button.close(type='button' data-dismiss='alert' aria-label='Close')
              span(aria-hidden='true') &times;
      if infos
        each info in infos
          .alert.alert-info.alert-dismissible.fade.show(role='alert')
            | #{error}
            button.close(type='button' data-dismiss='alert' aria-label='Close')
              span(aria-hidden='true') &times;
      if successess
        each success in successess
          .alert.alert-success.alert-dismissible.fade.show(role='alert')
            | #{success}
            button.close(type='button' data-dismiss='alert' aria-label='Close')
              span(aria-hidden='true') &times;
      block contents
      block scripts

